.dash_container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 100px;
    background-color: #6294B7;
    position: absolute;
    top: 51px;
    right: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

.create_post_bar {
    border-radius: 4px;
    background-color: white;
    width: 450px;
    height: 91.76px;
    padding: 15px;
    display: flex;
    margin-right: 500px;
}

.create_post_container {
    border:rgba(173, 216, 230, 0.3) solid 1px;
    border-radius: 3px;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.post_stack {
   width: 540px;
   margin-right: 500px;
}
.post {
    border-radius: 4px;
    margin: 30px;
    background-color: white;
    width: 480px;
    height: auto;
    margin-right: 500px;

}
.user_info {
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.username_button {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    border:none;
    background-color: white;
    text-decoration: none;

}
.post_title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;;
    font-size: 30px;
}

.post_text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.post_image {
    height: 490px;
    width: 480px;
}

.follow_button {
    border: none;
    padding: 10px;
    background-color: white;
    font-weight: bolder;
    color: #f4c2c2;
    font-size: 20px;
   
}


.posted_url {
    color:#6294B7;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
}

.post_and_sidebar_container {
  display: flex;
  width: 540px;
  margin-right: 500px;
}

.sidebar {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0px;
    left: 800px;
}

.sidebar_title {
    color: white;
    font-family: georgia;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
   
}
.sidebar_user_chunk {
    display: flex;
    flex-direction: row;
    

}
    .sidebar_prof_pic {
        height: 75px;
        width: 75px;
        margin: 10px;
    }

    .sidebar_username {
        align-self: center;
        color: black;
        font-size: 18px;
        padding: 5px;
        font-weight: bolder;
    }

    .sidebar_follow_button {
        border: none;
        padding: 10px;
        background-color: #6294B7;
        font-weight: bolder;
        color: #f4c2c2;
        font-size: 20px;
        width: auto;
        height: 40px;
        margin-left: 40px;
        margin-top: 25px;
        
    }
    
.sidebar_bar {
        color: lightblue;
        margin-bottom: 10px;
    }
.sidebar_spot {
    color: white;
    font-family: georgia;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
}

.sidebar_spotlight_post {
    border-radius: 4px;
    margin: 30px;
    background-color: white;
    width: 260px;
    height: auto;

}

.sidebar_spotlight_image {
    width: 260px;
    height: auto;
}