.dash_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #6294B7;
    position: absolute;
    top: 51px;
    right: 0px;
    left: 0px;
    height: auto;
}

.create_post_bar {
    border-radius: 4px;
    background-color: white;
    width: 510px;
    height: 104px;
    padding: 15px;
    display: flex;

}

.create_post_container {
    border:rgba(173, 216, 230, 0.3) solid 1px;
    border-radius: 3px;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.post {
    border-radius: 4px;
    margin: 30px;
    background-color: white;
    width: 540px;
    height: auto;

}
.user_info {
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.username_button {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    border:none;
    background-color: white;
    text-decoration: none;

}
.post_title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;;
    font-size: 30px;
}

.post_text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.post_image {
    height: 500px;
    width: 540px;
}

.follow_button {
    border: none;
    padding: 10px;
    background-color: white;
    font-weight: bolder;
    color: #f4c2c2;
    font-size: 20px;
   
}

.posted_url {
    color:#6294B7;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }