.site_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    text-align: center;
    padding-top: 30px;


    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.button {
    border: #f4c2c2 solid 0.5px;
    border-radius: 2px;

    width: 300px;
    height: 40px;
    background-color: #f4c2c2;
    margin: 20px 10px 10px 10px;

    font-size: large;
    font-weight: bold;
    color: white;
}
.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 450px;
    width: 500px;
}

.descriptor_text {
    color: white;
    position: relative;
    padding: 10px;
    font-size: 30px;

}