.container {
    display: flex;
    flex-direction: column;
    
}

.page1 {
    height: 510px;

    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page2 {
    display: flex;
    height: 510px;
    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.page3 {
    height: 510px;
    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
}
.page4 {
    height: 510px;
    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.page5 {
    height: 510px;
    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page6 {
    height: 510px;
    border-radius: 10px;
    background-color: rgba(98, 148, 183, 0.2);
    padding: 165px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 10px 10px 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    text-align: center;
   

    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.component_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    text-align: center;
    padding-top: 30px;
    
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.medium_text {
    color: #f4c2c2;
    position: relative;
    padding: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}

.medium_text_white {
    color: white;
    position: relative;
    padding: 10px;
    font-size: 60px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

}

.descriptor_text {
    color: white;
    position: relative;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.paragraph_text {
    color: white;
    position: relative;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.splash_button {
    border: #f4c2c2 solid 0.5px;
    border-radius: 2px;

    width: 300px;
    height: 40px;
    background-color: #f4c2c2;
    margin:  10px 20px 10px 20px;

    font-size: large;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav_button {
    border: #f4c2c2 solid 0.5px;
    border-radius: 2px;

    width: 300px;
    height: 40px;
    background-color: #f4c2c2;
    margin: 20px 10px 10px 10px;

    font-size: large;
    font-weight: bold;
    color: white;
    
}

.logo {
    border: #6294B7 solid 2px;
    text-align: center;
    border-radius: 100px;
    background-color: #6294B7;
    font-size: 150px;
    color: #f4c2c2;
    height: 200px;
    width: 200px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text_container {
    display: flex;
    flex-direction: row;
    
}

.post_icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: none;
    color: white;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.textbox {

    width: 150px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 35px;
    
}

.centered {
    text-align:center;
}