html {
    background: url(https://i.pinimg.com/564x/91/9e/fb/919efbd4001ec1b343eda3e752743a78.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
   
}

.site_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    text-align: center;


    color:beige;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.form_email {
    border: white solid 0.5px;
    border-radius: 2px;

    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 40px;    
}

.form_password {
    border: white solid 0.5px;
    border-radius: 2px;

    margin: 0px 10px 10px 10px;
    width: 300px;
    height: 40px;
    
}

.form_submit_button {
    border: beige solid 0.5px;
    border-radius: 2px;

    width: 308px;
    height: 40px;
    background-color: beige;
    
    font-size: large;
    font-weight: bold;
    color: #7B7060
}

