body {
    background: url(http://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 450px;
    width: 500px;
}

.site_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    text-align: center;
    padding-top: 30px;


    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.form_email {
    border: white solid 0.5px;
    border-radius: 2px;

    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 40px;    
}

.form_password {
    border: white solid 0.5px;
    border-radius: 2px;

    margin: 0px 10px 10px 10px;
    width: 300px;
    height: 40px;
}

.form_submit_button {
    border: #f4c2c2 solid 0.5px;
    border-radius: 2px;

    width: 300px;
    height: 40px;
    background-color: #f4c2c2;
    margin: 20px 10px 10px 10px;

    font-size: large;
    font-weight: bold;
    color: white;
}

.errors {
    color: white;
    background-color:rgba(244, 194, 194, 0.5);
    padding: 2px;
    margin: 60px auto 40px auto;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(224, 194, 194, 0.4);
}

