/* @import '../LoginFormPage/LoginForm.css'; */
/* body {
    background: url(https://tse2.mm.bing.net/th?id=OIP.bDMHDr3uxbBUNdWQbavbUgHaEL&pid=15.1);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.form_password {
    border: white solid 0.5px;
    border-radius: 2px;

    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 40px;
    
}

.form_blog_name {
    border: white solid 0.5px;
    border-radius: 2px;
    
    margin: 0px 10px 10px 10px;
    width: 300px;
    height: 40px;
}




