.container {

}
.header {
    color: beige;
    width: 100%;
    height: auto;
    background-color: #7B7060;
    position: absolute;
    top: 0px;
    left: 0px;

}
.navBar {
    background-color: beige;
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 140px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 10px 15px 10px;
    color: #7B7060;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

.active {
    text-decoration: none;
    color: #7B7060;
    font-weight: bold;
}

.logout_button {
    border: rgba(123, 112, 96, 0.4) solid 0.5px;
    border-radius: 5px;

    width: 100px;
    height: auto;
    background-color: beige;
    margin: 10px 10px 10px 10px;
    padding: 10px;

    font-size: 20px;
    font-weight: bold;
    color: #7B7060;
}

.logout_list {
    padding: 10px 10px 10px 10px;
    color: #7B7060;
}